@use '@/styles/dirs/variables';

.err404 {
    &_container {
        min-height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    &_text {
        display: flex;
        align-items: center;
        gap: 2em;
        p:first-child {
            font-size: calc(4em + 5vw);
        }
        p:last-child {
            font-size: calc(2em + 2vw);
        }
    }

    &_advice {
        p {
            font-size: calc(1em + 0.5vw);

            a {
                color: variables.$third-color;
            }
        }
    }
}
