.blog_button {
    display: flex;
    justify-content: flex-end;

    button {
        cursor: pointer;
        background-color: transparent;
        border: none;

        svg {
            font-size: 1.5em;
            color: #fff;
        }
    }
}

.news_container {
    overflow: hidden;

    .carousel_news {
        overflow: hidden;
        white-space: nowrap;
        scroll-behavior: smooth;
        max-width: 1240px;
        width: 100%;
        position: relative;
        height: 100%;
    }
}
